src/main/mule/TestFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="126cd100-5b46-4cbd-8321-1294c89d9941" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="TestFlowFlow" doc:id="8a2efdce-1973-4daa-8330-03e5a2fb9b4e" >
		<http:listener doc:name="Listener" doc:id="ef0c652e-204c-432a-9dfe-2158ef444a9e" config-ref="HTTP_Listener_config" path="/dev"/>
		<set-payload value='#[payload]' doc:name="Set Payload" doc:id="a6579ed4-35ac-4005-b3a8-a505ea989bd3" />
	</flow>
</mule>
